/* Start Global Rules */
:root {
    background-color: #f5f5ff;
    --main--transiton: 0.3s;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:focus {
    outline: none;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */

  /* card-FriendProfile */
  .container-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }
  .card-FriendProfile {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #f5f5ff;
    padding: 1rem;
  }
  .information {
    display: flex;
    align-items: center;

  }
  .info-name {
    margin-right: 0.8rem;
    max-width: 160px;

  }
  .info-name  .name {
    text-transform:capitalize;
    margin-bottom: 0.4rem;
    word-wrap: break-word;
    width: 160px;

  }
  .info-name  .email {
    display: flex;
    align-items: center;
    color: #404040;
    margin-bottom: 3rem;
  }
  .info-name  .email p{
  word-wrap: break-word;
  width: 120px;
  }
  .info-name  .email i{
    width: 16px;
    height: 16px;
    padding: 0.4rem;
    margin-right: 0.4rem;
    color: #777777;
  }
  .info-name .data-creadet {
    display: flex;
    align-items: center;
    color: #404040;
  }
  .info-name .data-creadet i{
    width: 16px;
    height: 16px;
    padding: 0.4rem;
    margin-right: 0.4rem;
    color: #777777
  }
  .information .info-img {
    margin: 1.6rem 0;
    padding:1rem 0;
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  .information .info-img .follower{
    display: flex;

  }
  .information .info-img .follower p{
    margin-top: 1.6rem;
   margin-right: 0.4rem;

  }
  .information .info-img .follower p span{
    color: #404040;
    font-weight: 900;

  }

  .information .info-img img{
    border-radius: 50%;
    height: 56px;
  }
  .follow {
    width: 100%;
    height: 30px;
    margin-bottom: 1.6rem;
    border: none;
    border-radius: 10px;
    background-color: #0095ff;
    color: #f5f5ff;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: .4px;
    padding: 0.8rem 2rem;
  }
 .follow:hover {
    width: 100%;
    height: 30px;
    margin-bottom: 1.6rem;
    border: none;
    border-radius: 10px;
    border:1px solid #777777;
    background-color: #f5f5ff;
    color: #3d9423;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: .4px;
    padding: 0.4rem 2rem;
  }

  hr {
    margin: 0.8rem;
    color: #777777;
  }
  .list-project {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    max-height: 150px;
  }
    .list-project::-webkit-scrollbar{
    width: 4px;
    }
    .list-project::-webkit-scrollbar-track{
    background: transparent;
    }
    .list-project::-webkit-scrollbar-thumb{
    background: #3f88fd;
    border-radius: 5px;
    }
  h3{
    margin-bottom: 1.1rem;
  }
  .list-project .project{
    padding: 0.4rem;
    font-size: 1.1rem;
  }
  .list-project .project li{
    padding: 1.2rem;
    border: 1px solid #777777;
    border-radius: 12px;
    margin-bottom: 0.8rem;
  }
  .list-project .project li i{
    width: 16px;
    height: 16px;
    padding: 0.4rem;
    margin-right: 1.6rem;
    color: #504c4c
  }
  .textOverflow {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.textOverflow:hover {
  z-index: 1;
  overflow-x: initial;
  white-space: initial;
  text-overflow: initial;

}
