/* Start Global Rules */
:root {

    --main--transiton: 0.3s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5ff;
    /* overflow: hidden; */
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start header  */
header {
    margin-bottom: 0px;
    background: #728AF4;

}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 60px;
    border-radius: 8px;
}
header .logo_img {
    height: 56px;
}
@media (max-width: 767px) {
    header .logo_img {
        margin-bottom: 10px;

    }
    header {
        margin-bottom: 0px;
    }
}
header .toggle-menu {
    position: relative;
    /* width: 80px; */
    margin: 0 0.5rem;
    padding: 0.5rem;
    color: #454555;
    font-size: 1.9rem;
    cursor: pointer;
    margin-right: 20%;
}
header .toggle-menu:hover {
    border-radius: 50%;
    background-color: #a2a2bb;
}
@media (min-width: 768px) {
    header .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .container .toggle-menu {
        display: none;
        transition: var(--main--transiton);
    }

}
@media (min-width: 992px) {
    .container {
        width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1350px) {
    .container {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}
header .main-nav {
    display: flex;
    /* display: none; */
}

header .main-nav > li > a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 24px;
    overflow: hidden;
    color: #f5f5ff;
    transition: var(--main--transiton);
    font-weight: 700;
    font-size: 1.7rem;
}
@media (max-width: 768px) {
    header .main-nav {
        background-color: rgb(69, 69, 85);
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        z-index: 100000;
    }
    header .main-nav li a {
        color: #f5f5ff;
        padding: 16px;
    }
}
@media (max-width: 768px) {
    header .main-nav li a {
        color: #f5f5ff;
        padding: 16px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    header .main-nav > li > a {
        padding: 0 8px;
    }
}
header .main-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #393941;
    bottom: 0;
    left: -100%;
    transition: var(--main--transiton);
}
header .main-nav > li > a:hover::before,
header .main-nav > li > .active::before {
    left: 0;
}
header .navbar-account {
    display: flex;
    align-items: center;
    position: relative;
}
header .navbar-account .ballStar i {
    font-size: 1.9rem;
    display: flex;
    color: #f5f5ff;
}
header .navbar-account .ballStar .star {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    top: 8px;
    right: 10px;
}
header .navbar-account .ballStar {
    position: relative;
    margin: 0 0.4rem;
    padding: 0.7rem;
    color: #454555;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
}
header .navbar-account .search{
    position: relative;

}
header .navbar-account .search .searchBar{
    outline: none;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 0;
    background-color: transparent;
    transition: width .5s;
    color: #454555;
    cursor: pointer;
}
header .navbar-account .search .searchBar:hover{

    background-color: #393941;

}
header .navbar-account .search i{
    position: absolute;
    cursor: pointer;
    font-size: 1.9rem;
    right: 1rem;
    top: 8px;
    color: #eb4600;
    /* display: flex; */
    /* margin: 0 0.4rem;
    padding: 0.7rem;
    color: #454555;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem; */
}
header .navbar-account .search .searchBar:focus{
    width: 250PX;
    background-color: white;

}
@media (min-width: 767px) and (max-width: 1200px) {
    header .navbar-account .search .searchBar:focus {
        width: 200PX;

    }
    /* header .logo_img {
      display: none;
    } */
}
@media (max-width: 375px) {
    header .navbar-account .search .searchBar:focus{
        width: 200PX;

    }


}



header .navbar-account .ballStar:hover {
    border-radius: 50%;
    background-color: #393941;
}
header .navbar-account .fff .profiles_img {
    height: 40px;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
@media (max-width: 768px) {
    header .navbar-account > i {
        font-size: 16px;
    }
    header .navbar-account .fff .profiles_img {
        height: 32px;
    }
}
header .navbar-account .profile-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10px;
    max-height: 0;
    overflow: hidden;
    width: 160px;
    background-color: #454555;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}
header .navbar-account .profile-menu-wrap.open-menu {
    transition: 0.3s;
    z-index: 10000;
    max-height: 400px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
header .navbar-account .fff .profile-menu-wrap .menu {
    display: flex;
    flex-direction: column;
}
header .navbar-account .fff .profile-menu-wrap .menu .menu-info {
    display: flex;
    padding: 0.8rem 1rem;
    cursor: default;
    align-items: center;
    color: #f5f5ff;
}
header .navbar-account .fff .profile-menu-wrap .menu .menu-info > .hhh {
    width: 32px;
    border-radius: 50%;
    margin-right: 0.8rem;
}
header .navbar-account .fff .profile-menu-wrap .menu > a {
    padding: 1.6rem;
    font-size: 1.3rem;
    color: #f5f5ff;
}
header .navbar-account .fff .profile-menu-wrap .menu > a:hover {
    background-color: #a2a2bb;
    color: #454555;
    font-weight: 400;
}
header .navbar-account .fff .profile-menu-wrap .menu a > i {
    color: #f5f5ff;
    font-size: 1.6rem;
    margin-right: 1rem;
}
header .navbar-account .notification-menu .notification-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10px;
    max-height: 0;
    overflow: hidden;
    width: 250px;
    background-color: #454555;
}
header .navbar-account .notification-menu .notification-menu-wrap.open-menu {
    transition: 0.5s;
    z-index: 10000;
    max-height: 400px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
header .navbar-account .notification-menu .notification-menu-wrap .menu {
    display: flex;
    flex-direction: column;
}
.menu > button {
    border: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #454555;
    margin-bottom: 0.4rem;
}
.menu > button > .massage {
    display: flex;
    align-items: center;
    padding: 0.8rem;
}
.menu > button > .massage p{
    /* cursor: text; */
    font-size: 1.4rem;
    color: #f5f5ff;
}
.menu > button > .massage > i {
    padding: 0.7rem ;
    height: 24px;
    width: 24px;
    margin-right: 0.8rem;
    color: #a2a2bb;
}
.menu > button .close > i{
    color: #eb4600;
    padding: 0.7rem;
    height: 24px;
    width: 24px;
}
.menu > button .close{
    margin: 0 0.4rem;
}
.menu > button .close i:hover{
    background-color: #a2a2bb;
    border-radius: 50%;
    cursor: pointer;
}
header .navbar-account .notification-menu .notification-menu-wrap .menu a > i {
    color: #f5f5ff;
    font-size: 1.6rem;
    margin-right: 1rem;
}

/* .doc-list .doc-body Details > summary .setting:hover{

} */
/* End header */
/* landing */
.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:300px;
    padding:50px 20vw;
    color: #f5f5ff;
}
.landing p {
    /* width: 50%; */
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #F8F8FF;
    font-weight: 500;
}
.landing h1 {
    font-size: 4rem;
    letter-spacing: -1px;
    margin-bottom: 1.6rem;
}
.blue {
    background: #728AF4;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 105px;
}

.wave .shape-fill {
    fill: #F5F5FF;
}

@media (max-width: 376px) {
    .landing {
        padding:60px 1vw;
        min-height: 275px;
    }
    .landing p {
        font-size: 1.4rem;

    }
    .landing h1 {
        font-size: 2rem;

    }
    .landing  svg {
        height: 60px;
    }
}
/* /////////////////////////////////////////////////////////////// */
.doc-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 767px) {
    .doc-container {
        width: 750px;
    }
}
@media (min-width: 991px) {
    .doc-container {
        width: 950px;
    }
}
.doc-container h1 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #454555;
}
.doc-container hr {
    background-color: black;
    height: 0.2rem;
    border: 0;
    margin: 8px 0;
}
@media (max-width: 768px) {
    .doc-container h1 {
        font-size: 1.9rem;
    }
}
.writiner-home-title .title-header option ,optgroup {
    font-size: 1.4rem;

}
.writiner-home-title .title-rightsaid{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
}
.writiner-home-title .title-rightsaid label{
    margin-right: 1.6rem;
}
.writiner-home-title .title-rightsaid .star{
    width: 24px;
    height: 24px;
    padding: 0.4rem;
}
.writiner-home-title .title-leftsaid{
    font-size: 1.4rem;
}
.writiner-home-title {
    padding: 0 8px;
}
.writiner-home-title .title-header {
    padding-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 32px;
}
 .grid-item-section {
    grid-area: item-section;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
    gap: 32px;
    margin-top: 16px;
    padding: 0 16px 16px;
    position: relative;
    grid-template-rows:repeat(auto, 50px);
}
 .grid-item-section .grid-item {
    position: relative;
    height: 200px;
}
 .grid-item-section .grid-item:hover {
  z-index: 5;
}
 .grid-item-section .grid-item .holder-item {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

 .grid-item-section .grid-item .grid-item-thumbnail {
    height: 130px;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;

}
 .grid-item-section .grid-item .grid-item-thumbnail .icon-star ::before {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 0 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}
 .grid-item-section .grid-item .grid-item-thumbnail .icon-star .star{
    color: rgb(255, 255, 255);
}
 .grid-item-section .grid-item .grid-item-thumbnail .icon-fileline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 56px;
}

 .grid-item-section .grid-item .grid-item-metadata {
    height: 50px;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;

}
.grid-item-section .grid-item .grid-item-metadata .item-title {
    justify-content: start;
    margin-top: 4px;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8PX 0;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .icon-setting{
    position: relative;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project{
    position: absolute;
    bottom: 12%;
    left: -10px;
}

 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project .menu-item{
    display: flex;
    flex-direction: column;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project .menu-item button{
    display: flex;
    padding: 10px;
    background-color: rgb(32, 28, 28);
    color: #fafafa;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project .menu-item button:hover{
    background-color: #fafafa;
    color: #1b1a1a;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project .menu-item i{
    margin-right: 8px;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project.open-menu{
    max-height: 400px;
    z-index: 4;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project .menu-item{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
 .grid-item-section .grid-item .grid-item-metadata .item-body > div{
    display: flex;
    gap: 8px;
    align-items: center;

}
 .grid-item-section .grid-item .grid-item-metadata .item-body > div > p{
    font-size: 14px;

}
 .grid-item-section .grid-item .grid-item-metadata .item-body > div > .profiles-item_img{
    height: 16px;
    border-radius: 50%;
}



















/* /////////////////////////////////////////////////////////////////// */
#main{
    position: relative;
    /* overflow: hidden; */
    width: 200px;
    height: 200px;
    border:0px solid;
    border-radius: 16px;
    /* background-color: #92929b; */
    transition: 1s;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

}
#main:hover{
    /*transform: scale(1.2,1.2);*/
    /*z-index: 10000;*/
}

#projectTop{
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 140px;
    border-bottom: 1px solid;
    border-radius: 25px 0 0;
}

#projectType{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    border-radius: 25px;
    /*z-index: 3;*/
}
#projectName{
    position: absolute;
    left: 20px;
    bottom: 25px;
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}
#projectName p{
    color: inherit;
    text-decoration: none;
}
#projectLastUpDate{
    position: absolute;
    left: 20px;
    font-size: 1.25rem;
    bottom: 5px;
    font-weight: 300;
}
#isProjectShared{
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: -30px;
    top: 10px;
    width: 100px;
    height: 25px;
    background-color: rgb(107, 216, 235);
    text-align: center;
    transform: rotate(-50deg);
}
#projectSitting{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    transition: 0.5s;

}

#projectSitting:hover{
    background-color: rgba(107, 216, 235, 0.3);
    transform: rotate(180deg);
}
#isProjectFavre{
    position: absolute;
    right: 15px;
    bottom: 19px;
    width: 24px;
    height: 24px;
    color: rgb(107, 216, 235);
}

#projectOwner{
    position: absolute;
    right: 155px;
    top: -24px;
    width: 56px;
    height: 56px;
    background-color: white;
    box-shadow: white 0px 0px 0px 5px;
    border-radius: 50%;

}

#projectOwner img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-sizing: border-box;
}
/* New Updata */
.aaaa {
    visibility: hidden;
    color: #f5f5ff;
    font-weight:bold;
    background-color: rgb(3 102 214 / 30%);
    box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
    border-radius: 5px;
    position: absolute;
    top: -1px;
    right:  -130px;
    /* display: none; */
}

.aaaa h5{
    font-size: 11px;
}
@media (max-width: 375px) {
    .aaaa{
        top: 210px;
        right: 40px;
    }
}

@media (min-width: 376px) and (max-width: 1024px) {
    .aaaa{
        top: 210px;
        right: 40px;
    }
}
#desViewer{
    background-color: white;
    border-radius: 5px;
    max-width: 120px;
    min-width: 120px;
    padding: 8px;
    word-break: break-all;
    font-size: 8px;
    max-height: 140px;
    overflow-y:scroll;
    user-select: none;
    color: #454555;
}
#desViewer::-webkit-scrollbar{
    width: 4px;
}
#desViewer::-webkit-scrollbar-track{
    background: transparent;
}
#desViewer::-webkit-scrollbar-thumb{
    background: #19c8fa;
    border-radius: 5px;
}
.textOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.textOverflow:hover {
    z-index: 1;
    overflow: initial;
    white-space: initial;
    text-overflow: initial;
}
/* New Updata */
#main:hover .aaaa, #main:hover .likeContainer {
    visibility: visible;

}

.fakeDiv {
    position: absolute;
    right: -30px;
    top: 0;
    background-color: transparent;
    width: 58px;
    height: 42px;
}



#likViewer{
    display: none;
    border: 1px solid;
    POSITION: absolute;
    top: 2px;
    left: -56px;
    width: 41px;
}

/* New Updata */
#likeContainer{
    visibility: hidden;
    padding: 4px;
    /* display: none; */
    box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 70px;
    width: 50px;
    /* overflow-x: hidden; */
}
.bbbb {

    display: flex;
    align-items: center;
    column-gap: 4px;
}
.FS-option {
    position: absolute;
    top: 10px;
    left: 160px;
    box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: .4rem;
    width: fit-content;
}
.FS-option i {
    font-size: 16px;
}
.FS-optionButt {
    background-color: transparent;
    outline: 0;
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: .4rem;
    width: 24px;
    height: 24px;

}
.FS-optionButt:hover {
    border-radius: 5px;
    background-color: #a2a2bb;
}
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    top: -2px;
    left: 140%;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (min-width: 376px) and (max-width: 1024px) {
    .tooltip .tooltiptext{
        top: 2px;
        left: -112px;

    }
}

@media (max-width: 375px) {
    .tooltip .tooltiptext{
        top: 2px;
        left: -112px;

    }
}

.viewDs-Lk:hover {
    visibility: visible;
}
/* New Updata */

#likeIcon{

}
#likeViewer{

}
/* popupSearch */
.popupSearch {
    padding: 1.6rem;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 400px;
     display: none;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.popupSearch .popupSearchHeader h1 {
    color: #1b1a1a;
    cursor: default;
}

.popupSearch .popupSearchContainer {
    margin: 1.6rem 0;
}

.popupSearch .popupSearchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupSearch .popupSearchClose {
    color: red;
    font-size: 1.4rem;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popupSearch .popupSearchClose:hover {
    background-color: #eee;
}

.popupSearch .popupSearchLabel {
    font-size: 1.25rem;
    color: #1b1a1a;
    font-weight: 500;
}

.popupSearch .popupSearchBar {
    margin-top: 0.4rem;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 4rem 1rem 1.5rem;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    width: 100%;
    position: relative;

}

.popupSearch .popupSearchButt {
    width: 40px;
    /* display: none; */
    border: 0;
    height: 34px;
    outline: none;
    cursor: pointer;
    padding: 0rem;
    position: absolute;
    bottom: 35px;
    right: 18px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #3f88fd;
    color: #ffffff;
    transition: var(--main--transiton);

}

.popupSearch .popupSearchButt:hover {

    background-color: #1b5ec9;


}
