/* Start Global Rules */
:root {
    --main-color: #19c8fa;
    --main--transiton: 0.3s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:disabled{
    opacity: 0.5;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #f5f5ff; /* backgound home page*/
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* End Global Rules */

/* ///////////////////////////////////////// */

/* ////////////////////////////////////// */
#Buttonmenuplus--main{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    transition: 1s;
    border-radius: 50%;
    border: 0px;
    background-color: var(--main-color);
    font-size: 2.8rem;

}
#Buttonmenuplus--A4{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    transition: 1s;
    border-radius: 50%;
    border: 0px;
    background-color: var(--main-color);
    font-size: 32px;
    display: flex;

    justify-content: center;
    align-items: center;

}
#Buttonmenuplus--A4 img{
    width: 30px;
    height: 30px;
}
#Buttonmenuplus--Slide{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    transition: 1s;
    border-radius: 50%;
    border: 0px;
    background-color: var(--main-color);
    font-size: 32px;
    display: flex;

    justify-content: center;
    align-items: center;

}


#Buttonmenuplus--Slide img{
     width: 30px;
     height: 30px;
 }

#Buttonmenuplus--Blanck{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    transition: 1s;
    border-radius: 50%;
    border: 0px;
    background-color: var(--main-color);
    font-size: 32px;
    display: flex;

    justify-content: center;
    align-items: center;

}

#Buttonmenuplus--Blanck img{
    width: 30px;
    height: 30px;
}

/* Start Header */

/* End Header */

/* Start content */
.writiner-home-header-navbar {
    position: relative;
    margin-bottom: 24px;
}
.writiner-home-header-navbar ul {
    display: flex;
    /*justify-content: center;*/
}
/*@media (min-width: 768px){*/
/*    .writiner-home-homescreenmain .writiner-home-header-navbar {*/
/*        padding-left: 16px;*/
/*        padding-right: 16px;*/
/*    }*/
/*    .writiner-home-header-navbar ul {*/
/*        justify-content: start;*/
/*    }*/
/*    .writiner-home-homescreenmain .writiner-home-title {*/
/*        padding-left: 24px;*/
/*        padding-right: 24px;*/
/*    }*/
/*}*/
/*@media (min-width: 992px){*/
/*    .writiner-home-header-navbar, .writiner-home-title {*/
/*        width: 820px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/
/*@media (min-width: 1200px){*/
/*    .writiner-home-header-navbar, .writiner-home-title {*/
/*        width: 1170px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/



/* //////////////////////////////////////////////////////////////////////////// */
.doc-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 767px) {
    .doc-container {
        width: 750px;
    }
}
@media (min-width: 991px) {
    .doc-container {
        width: 800px;
    }
}
.doc-container h1 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #454555;
}
.doc-container hr {
    background-color: black;
    height: 0.2rem;
    border: 0;
    margin: 8px 0;
}
@media (max-width: 768px) {
    .doc-container h1 {
        font-size: 1.9rem;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////// */



.writiner-home-header-navbar ul li {
    position: relative;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    transition: var(--main--transiton);
}
.writiner-home-header-navbar ul li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: -100%;
    background-color: #6489ff;
}
.writiner-home-header-navbar ul > li:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.writiner-home-header-navbar ul > li:hover::before  ,.writiner-home-header-navbar ul .active::before {
    left: 0;
}

.writiner-home-title h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

.writiner-home-title {
    padding: 0 8px;
}
.writiner-home-title .title-header {
    padding-top: 8px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
}
.writiner-home-title .title-header option {
    font-size: 1.4rem;
}
.writiner-home-title .title-rightsaid{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
}
.writiner-home-title .title-leftsaid{
    font-size: 1.4rem;
}

.writiner-home-title .title-rightsaid label{
    margin-right: 1.6rem;
}

.writiner-home-title .title-rightsaid .star{
    width: 24px;
    height: 24px;
    padding: 0.1rem;
}

/* End content */

/*  Start grid-item-section */
.writiner-home-homescreenmain .grid-holder {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    ". . item-section item-section item-section item-section item-section item-section item-section item-section . .";

}
.writiner-home-homescreenmain .grid-item-section {
    grid-area: item-section;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 32px;
    margin-top: 16px;
    padding: 0 16px 16px;
    position: relative;
    grid-template-rows:repeat(auto, 50px);
}
.writiner-home-homescreenmain .grid-item-section .grid-item {
    position: relative;
    height: 200px;
}
.writiner-home-homescreenmain .grid-item-section .grid-item .holder-item {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
}

.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-thumbnail {
    height: 130px;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;

}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-thumbnail .icon-star {

}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-thumbnail .icon-star ::before {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 0 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-thumbnail .icon-star .star{
    color: rgb(255, 255, 255);
}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-thumbnail .icon-fileline {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 56px;
}

.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata {
    height: 50px;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;

}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-title {
    justify-content: start;
    margin-top: 4px;
}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8PX 0;
}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body .icon-setting{
    position: relative;
}
#main .setting-project{
    position: absolute;
    z-index: 100;

    /* display: none; */
}

#main .setting-project .menu-item{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#main .setting-project .menu-item button{
    display: flex;
    padding: 10px;
    background-color: rgb(32, 28, 28);
    color: #fafafa;
    font-size: 16px;

}
#main .setting-project .menu-item button:hover{
    background-color: #fafafa;
    color: #1b1a1a;
}
#main .setting-project .menu-item i{
    margin-right: 8px;
}

.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body .icon-setting a{
    display: none;
    position: absolute;
    bottom: 100%;
    right: 100%;
    padding: 5px 20px;
    color: white;
    background: #1b1a1a;
}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project.open-menu{
    max-height: 400px;
    z-index: 4;

}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body .setting-project .menu-item{
    margin: 10px;
    background: #1b1a1a;
}



.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body > div{
    display: flex;
    gap: 8px;
    align-items: center;

}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body > div > p{
  font-size: 14px;

}
.writiner-home-homescreenmain .grid-item-section .grid-item .grid-item-metadata .item-body > div > .profiles-item_img{
    height: 16px;
    border-radius: 50%;
}



#main{
    position: relative;
    /* overflow: hidden; */
    width: 200px;
    height: 200px;
    border:0px solid;
    border-radius: 16px;
    background-color: white;
    transition: 1s;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
#main:hover{
    /*transform: scale(1.2,1.2);*/
    /*z-index: 10000;*/
}

#projectTop{
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 140px;
    border-bottom: 1px solid;
    border-radius: 25px 0 0;
}

#projectType{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    border-radius: 25px;
    /*z-index: 3;*/
}
#projectName{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1.6rem;
    font-weight: 700;
}
#projectLastUpDate{
    position: absolute;
    left: 20px;
    font-size: 1.25rem;
    bottom: -4px;
    font-weight: 300;
}
#isProjectShared{
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: -30px;
    top: 10px;
    width: 100px;
    height: 25px;
    background-color: rgb(107, 216, 235);
    text-align: center;
    transform: rotate(-50deg);
}
#projectSitting{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    transition: 0.5s;

}

#projectSitting:hover{
    background-color: rgba(107, 216, 235, 0.3);
    transform: rotate(180deg);
}
#isProjectFavre{
    position: absolute;
    right: 15px;
    bottom: 19px;
    width: 30px;
    height: 30px;
    color: rgb(107, 216, 235);
}

#projectOwner{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 56px;
    height: 56px;
    background-color: white;
    box-shadow: white 0px 0px 0px 5px;
    border-radius: 50%;

}

#projectOwner img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-sizing: border-box;
}

#desViewer{
    position: absolute;
    top: 100px;
    left: 100px;
    display: none;
}

#likViewer{
    display: none;
    border: 1px solid;
    POSITION: absolute;
    top: 2px;
    left: -56px;
    width: 41px;
}

#likeContainer{
    display: none;
    border: 1px solid;
    POSITION: absolute;
    top: 2px;
    left: -56px;
    width: 41px;
}
#likeIcon{

}
#likeViewer{

}
