/* Start Global Rules */
:root {
    background-color: var(--primary_60-color);
    --mainpage_30-color: #312E81;
    --primary_60-color:#D0E7EA;
    --secondary_10-color:#18838F;
    --main--transiton: 0.3s;
}
* {
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* :start header  */
header {
    background-color: var(--primary_60-color);
    /* box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd; */
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header .container .logo-part {
    display: flex;
    align-items: center;
    height: 72px;
}
@media (max-width: 767px) {
    header .container .logo-part {
        width: 100%;
        height: 50px;
    }
}
header .logo-part .logo-img {
    width: 40px;
}
header .logo-part .logo-name {
    padding-top: 4px;
    padding-bottom: 8px;
    font-weight: 900;
    font-size: 26px;
    color: var(--mainpage_30-color);
    
}
header .logo-name::before {
    content: "";
    margin-left: 10px;
}
header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    header .main-nav {
        margin: auto;   
    }
}
header .main-nav li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 16px;
    font-weight: 500;
    color: var(--mainpage_30-color);
    transition: var(--main--transiton);
    overflow: hidden;
    color: var(--mainpage_30-color);
}
@media (max-width: 767px) {
    header .main-nav li a {
        padding: 10px;
        font-size: 15px;
        height: 40px;
       
    }
}
header .main-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--mainpage_30-color);
    top: 0;
    left: -100%;
    transition: var(--main--transiton);
}
header .main-nav > li > a:hover{
    color: var(--primary_60-color);
    background-color: var(--secondary_10-color);
}
header .main-nav > li > a:hover::before {
    left: 0;
}
/* ///// */
.landing {
    position: relative;
    
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;    
    height: 100%;
    background-color: var(--mainpage_30-color);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .container {
        display: flex;
        flex-direction: column;
       
    }
    .landing .text  {
        text-align: center;
        flex: 0;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
    color: var(--primary_60-color);
}
@media (max-width:676px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    font-size: 23px;
    line-height: 1.5;
    margin: 24px 0 0;
    color: var(--primary_60-color);
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 16px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}
.landing .text .butt-part2 {
    margin-top: 36px;
}
@media (max-width: 991px) {
    .landing .text .butt-part2 {
    
        margin-bottom: 24px;
    }
}
.landing .text .butt-part2 a {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid var(--primary_60-color);
    border-radius: 6px;
    background-color: var(--secondary_10-color);
    color: var(--primary_60-color);
    transition: var(--main--transiton);
}
.landing .text .butt-part2:hover a {
    border: 3px solid var(--secondary_10-color);
    background-color: var(--primary_60-color);
    color: var(--mainpage_30-color);
}
.landing .text .signin-part3 {
    margin-top: 36px;
    color: var(--primary_60-color);
}
@media (max-width: 991px) {
    .landing .text .signin-part3 {
        display: flex;
        flex-direction: column;
    }
    .landing .text .signin-part3 button {
        margin-top: 8px;
        background-color: transparent;
        color: #1a73e8;
        min-width: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.landing .text .signin-part3 button{
    background-color: transparent;
    border-color: transparent;
    color: #1a73e8;
    padding-left: 12px;
    padding-right: 12px;
    min-width: auto;
}
.landing .image-part4 img {
    width: 350px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .landing .image-part4 {
        margin-top: 24px;
        width: 300px;
    }
}
@media (max-width: 767px) {
    .landing .image-part4 {
        margin-top: 24px;
        
    }
}
.landing .go-down {
    color: var(--mainpage_30-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    transition: var(--main--transiton);
}
.landing .go-down:hover {
    color: var(--secondary_10-color);
}
.landing .go-down i {
    
}

/* /////////// */
.services {
    margin-top: 60px;
  
}
.services .services-container {
    display: flex;
    flex-direction: column;
   
}
.services .srv-box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
    color: var(--mainpage_30-color);
}
@media (max-width: 991px) {

    .services .srv-box-1 {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 90px;
    }
    .services .srv-box-1 .text p {
        max-width: none;
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .services {
        margin-top: 40px;
        padding: 0;
    }
    .services .srv-box-1 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .services .srv-box-1 .text p {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .services .srv-box-1 .text h1 {
        font-size: 28px;
    }
}
.services .srv-box-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
    color: var(--mainpage_30-color);
}
@media (max-width: 991px) {

    .services .srv-box-2 {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 90px;
    }
    .services .srv-box-2 .text p{
        max-width: none;
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .services {
        padding: 0;
    }
    .services .srv-box-2 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .services .srv-box-2 .text p {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .services .srv-box-2 .text h1 {
        font-size: 28px;
    }
}
.services .srv-box-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 136px;
    color: var(--mainpage_30-color);
}
@media (max-width: 991px) {

    .services .srv-box-3 {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 90px;
    }
    .services .srv-box-3 .text p {
        max-width: none;
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .services {
        padding: 0;
    }
    .services .srv-box-3 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .services .srv-box-3 .text p {
        font-size: 18px;
        margin-bottom: 32px;
    }
    .services .srv-box-3 .text h1 {
        font-size: 28px;
    }

}
.services .srv-box-1 h1 ,.srv-box-2 h1 ,.srv-box-3 h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
    
}
.services .srv-box-1 p ,.srv-box-2 p ,.srv-box-3 p {
    font-size: 23px;
    line-height: 1.5;
    margin: 24px 0 0;
    max-width: 500px;
}
.services .image img{
    width: 300px;
}
/* //////// */
.community {
    background-color: var(--mainpage_30-color);
    /* padding: 120px; */
    padding-top: 100px;
    padding-bottom: 100px;
}
.community .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community .text h1 {
    font-size: 60px;
    letter-spacing: -1px;
    color: var(--primary_60-color); 
}
.community .text p {
    text-align: center;
    max-width: 8900px;
    margin: 16px auto;
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary_60-color); 
}
@media (max-width: 991px) {
    .community .text > h1 {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .community {
        padding: 32px 0;
    }
    .community .text h1{
        font-size: 32px;
    }
    .community .text p{
        font-size: 18px;
    }
}
.community .butt-gocommunty {
    margin-top: 36px;
    
}
.community .butt-gocommunty a {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid var(--primary_60-color);
    border-radius: 6px;
    background-color: var(--secondary_10-color);
    color: var(--primary_60-color);
    transition: var(--main--transiton);
}
.community .butt-gocommunty:hover a {
    border: 3px solid var(--secondary_10-color);
    background-color: var(--primary_60-color);
    color: var(--mainpage_30-color);

}
/* //////// */

.team .container .title {
    text-align: center;
    text-transform: capitalize;
    color: var(--mainpage_30-color);
    margin: 32px 0;
    position: relative;
}
.team .container .title::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-image: linear-gradient(to left, transparent 5%, var(--secondary_10-color));
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}
.team .container .team-row {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
@media (max-width: 991px) {
    .team .container .team-row {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    .team .container .team-row {
        margin-bottom: 4px;
    }
}
.team .member {
    flex: 1 1 250px;
    margin: 4px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: var(--main--transiton);
}
.team .member:hover {
    box-shadow: 0 8px 20px var(--secondary_10-color);
    transform: translateY(-20px);
   
}
.team .member img:hover {
    border-color: var(--mainpage_30-color);
   
}
.team .member img {
    display: block;
    width: 150px;
    object-fit: cover;
    border: 4px solid var(--secondary_10-color);
    border-radius: 50%;
    margin: 0 auto;
    transition: var(--main--transiton);
}
.team .member h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--mainpage_30-color);
    margin: 16px 0 4px;
}
.team .member h3 {
    font-size: 15px;
    color: var(--mainpage_30-color);
    margin: 4px 0;
}
.team .member p {
    font-size: 15px;
    margin-top: 8px;
    line-height: 1.6;
}
/* ///////// */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
    
}
@media (max-width: 767px) {
    .footer .container {
        text-align: center;
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}
@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9bb;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var();
}
.footer .box .social .twitter:hover {
    background-color: #1877f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .social .github:hover {
    background-color: #6e5494;
}
.footer .box .text {
    line-height: 2;
    color: #b9b9bb;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main--transiton);
}
.footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li:hover a{
    color: white;
}
.footer .box .links li a{
    color: #b9b9bb;
    transition: var(--main--transiton);
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9bb;
    margin-bottom: 30px;
    margin-top: 16px;
}
.footer .box .line i{
    font-size: 25px;
    color: var(--secondary_10-color);
    margin-right: 16px;
}
@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
    .footer .box .line i {
        margin-bottom: 16px;
       
    }

}
.footer .box .line .info{
    line-height: 1.6;
    flex: 1;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    border-top: 1px solid #444;
}