/* Start Global Rules */
:root {
    background-color: #f5f5ff;
    
  }
  /* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:focus {
    outline: none;
  }
  html {
    /* color-scheme: dark light; 
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  } */
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
  /* End Global Rules */

  /* //////////////////////////////////////////////////////////// */
  .tooltip {
    position: relative;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 40px;
    background-color: black;
    color: #eee;
    text-align: center;
    padding: 5px 0;
    /* border-radius: 5px; */
    font-size: 0.8rem;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    /* Bottom Tooltip */
    width: 50px;
    top: 120%;
    right: 20%;
    /* Top Tooltip */
    /* width: 40px;
    bottom: 120%;
    right: 30%; */
  
  
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 1;
  }
  .tooltip .tooltiptext1 {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #eee;
    text-align: center;
    padding: 5px 0;
    /* border-radius: 5px; */
    font-size: 0.8rem;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    /* Bottom Tooltip */
    width: 80px;
    top: 120%;
    left: 100%;
    /* Top Tooltip */
    /* width: 40px;
    bottom: 120%;
    right: 30%; */
  
  
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 1;
  }
  .tooltip .tooltiptext::after ,.tooltip .tooltiptext1::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext ,.tooltip:hover .tooltiptext1 {
    visibility: visible;
  }

  /* //////////////////////////////////////////////////////////// */
  /* basic_blocks */
  .one {
    border: 2px solid red;
    padding: 2rem;
  }

  .Basic_Blocks {
    background-color: white;
    border-radius: 4px;
    width: 240px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding: 0.2rem;
    margin-right: auto;
    margin-left: auto;
  }
  .header {
    padding-left: 0.4rem;
    margin: 0.4rem 0;
  }
  .basic_blocks_list {
    
  }
  .basic_blocks_list hr {
    margin: 0.4rem 0;
    background-color: black;
  }
  .Basic_Blocks::-webkit-scrollbar{
    width: 5px;
    background-color: #EDECE9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    }
    .Basic_Blocks::-webkit-scrollbar-track{
    background: transparent;
    }
    .Basic_Blocks::-webkit-scrollbar-thumb{
    background: #C6C9C2;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
    }

  /* li {
    padding: 0.2rem 0;
    padding: 0.2rem;
    display: flex;
    align-items: center;
  }
   li:hover {
    background-color: #EDECE9;
    border-radius: 5px;
    cursor: pointer;
  } */

  .image {
    border: 1px solid rebeccapurple;
    padding: 0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.2rem;
  }
   .image img {
    /* height: 24px; */
    width: 24px;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
   
  }
  .text {
    margin: 0 0.4rem;
  }
  .text p {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .text .sss {
    font-size: 1rem;
    font-weight: 600;
  }
/* ////////////////////////////////////////////////////////////////////////// */

  .Format_Page {
    height: 120px;
    width: 660px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  border-right: 1px solid black ;
}
.butt {
  outline: none;
  border: 1px solid black;
  width: 24px;
  height: 24px;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: var(--main--transiton);
  border-radius: 5px;
}

.PD{
 
  color: red;
  
}
.RF{
  margin: 0.2rem auto;
  font-size:0.9rem;
  padding: 0 1rem;
  text-align: center;
  font-weight: 600;
  width: 120px;
  /* color: red; */
}
.butt:hover{
  background-color: #EDECE9;
  border-radius: 5px;
}
.color {
  padding: 0.8rem;
  border-right: 1px solid black;
}
.checkboxes label {
  display: inline-block;
  white-space: nowrap;
  padding-right: 0.7rem;
  
}
.checkboxes label:hover {
  background-color: #EDECE9;
}
.checkboxes input {
  vertical-align: middle;
  cursor: pointer;
}
.checkboxes label span {
  vertical-align: middle;
  padding-right: 0.4rem;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0.6rem auto;
    width: 40px;
    cursor: pointer;
}
.info:hover{
 background-color:#EDECE9 ;
}

input[type="color"] {
  margin-top: 0.6rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 24px;
  padding: 0;
  width: 24px;
}

*:focus{
  border-radius: 0;
  outline: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}
::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}
::-moz-focus-inner{
  padding: 0;
}
.format {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border-right: 1px solid black;
  row-gap: 2px;
}
.format hr {
  margin: 0.2rem 0;
}

/* /////////////////////////////////////////////// */

.border {
  padding: 0.8rem;
  border-right: 1px solid black;
}
.border label {
  font-weight: 500;
}
.border-col {
  /* padding: 0.8rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 4px;
  margin-top: 0rem;
}

.border-col2 {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.border-row select:hover {
  background-color: #EDECE9;
}

.colorBorder[type="color"] {
  margin-left: 1.1rem;
  margin-top: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  height: 24px;
  padding: 0.4rem;
  width: 160px;
}
.colorBorder[type="color"]:hover {
  background-color: #EDECE9;
}

.borderStyle {
  margin-left: 1.3rem;
  width: 160px;
  cursor: pointer;
}
.borderStyle:hover{
  background-color: #EDECE9;
}
.NumBorder1{
  width: 25px;
  padding: 0.1rem;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #C6C9C2;
  margin-left: 0.6rem;
}
.NumBorder2{
  width: 25px;
  padding: 0.1rem;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #C6C9C2;
}
.borderSelect{
  width: 90px;
  
  cursor: pointer;
  
}
.RadiusSelect {
  width: 90px;
  cursor: pointer;

}


/* /////////////////////////////////////////////// */
.ReadyDesign {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  font-size: 0.9rem;
}
.ReadyDesign select:hover {
  background-color: #EDECE9;
}
.ReadyDesign hr{
  margin:0.4rem  0;
}
.ReadyDesignPages {
  width: 80px;
margin-left: 0.3rem;
margin-top: 0.4rem;
cursor: pointer;
}
.ReadyDesignBorder {
  width: 80px;
  cursor: pointer;
  margin-top: 0.4rem;
  }

.format select:hover {
    background-color: #EDECE9;
}
.NumPage {
  margin-top: 0.2rem;
  width: 120px;
  margin-bottom:0.2rem ;
  cursor: pointer;
}

.NumColor[type="color"] {
  margin-left: 0;
  margin-top: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  height: 24px;
  padding: 0.4rem;
  width: 120px;
}
.NumColor[type="color"]:hover {
  background-color: #EDECE9;
}
/* /////////////////////////////////////////////////// */
.TextEditContainer {
  display: flex;
  width: fit-content;
  background-color: white;
  border: 1px solid black;
  padding: 0.8rem 0;
 
}
.col {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
  border-right: 1px solid black;
  
}
.col h3 {
  text-align: center;
}
.row {
  display: flex;
  column-gap: 4px;
  margin-bottom: 0.8rem;
}
.row button , .col button {
  outline: none;
  /* border: 1px solid black; */
  border: 0;
  width: 24px;
  height: 25px;
  text-align: center;
  font-size: 1.6rem;
  background-color: transparent;
  cursor: pointer;
  transition: var(--main--transiton);
}
.row button:hover {
  background-color: #EDECE9;
}
.row .removeFormat {
  width: 120px;
}
.row select , .col select {
  cursor: pointer;;
  height: 25px;
  width: 110px;
}
.fontSize select {
  width: 40px;
}
.block {
  margin-bottom: 0;
  padding-left: 0.4rem;
  border-left: 1px solid black;
}
.row .highlightButt {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0.2rem;
  font-size: 1.6rem;
}
.row .highlight[type="color"] {
  margin-top: 0;
  margin-left: 0.4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 16px;
  width: 24px;
  padding: 0rem;
}
.row .backColorButt {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0.2rem;
  font-size: 1.6rem;
}
.row .backColor[type="color"] {
  margin-top: 0;
  margin-left: 0.4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 16px;
  padding: 0rem;
  width: 24px;
}
.Translait {
  position: relative;
}
.Translait p{
  margin: 0 0.4rem;
  overflow-y:scroll;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 150px;
height: 60px;
  word-wrap: break-word;
  padding: 0.8rem;
}
.Translait-icon {
  position: absolute;
     right: 115px;
    bottom: 59px;
 font-size: 1.6rem;
 background-color: white;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.Translait-voice {
  position: absolute;
right: 5px;
   
    bottom: 9px;
  font-size: 1.6rem;

}
.Translait p::-webkit-scrollbar{
    width: 4px;
}
.Translait p::-webkit-scrollbar-track{
    background: transparent;
}
.Translait p::-webkit-scrollbar-thumb{
    background: #3f88fd;
    border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #eee;
  text-align: center;
  padding: 5px 0;
  font-size: 0.9rem;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 75px;
  top: 130%;
  right: -25px; 

  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  z-index: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* /////////////////////////////////////////////////////// */
.Format {

}
.sutt {
  position: absolute;
  width: fit-content;
  border: 1px solid black;
  background-color: white;
  padding: .2rem;
  top: -24px;
  left: 0;
  user-select: none;       
  
}
.sutt p{
  padding: .2rem;
  display: inline-block;
  border-left: 1px solid black;
  font-weight: 500;
  cursor: default;
}
.sutt button{
  outline: none;
  /* border: 1px solid black; */
  border: 0;
  width: 16px;
  height: 16px;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: var(--main--transiton);
  border-radius: 5px;
  margin: 0 0.2rem;
}
.sutt button:hover{
  background-color: #EDECE9;
  
}
.sutt .moveButt {
  cursor: move;
}
.textBox {
  position: relative;
  border: 1px solid #8a2be2;
  width: 250px;
  height: 200px;
  background-color: #f5f5ff;
  margin: 4rem;
}
.textBox .resize {
position: absolute;
border: 1px solid #8A2BE2;
background-color: white;
width: 8px;
height: 8px;
right: -5PX;
bottom: -5PX;
cursor: nwse-resize;
}


.tooltip {
  position: relative;
  display: inline-block;
 
}

/* Tooltip text */
.tooltip .tooltiptextSmall {
  visibility: hidden;
  width: 60px;
  font-size: .9rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
 
 
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
 

  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptextSmall::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
/* /////////////////////////// */
.tooltip .tooltiptextSmallUp {
  visibility: hidden;
  width: 60px;
  font-size: .9rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  top: 15px;
  left: 50%;
  margin-left: -30px; 
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptextSmallUp::after {
  content: " ";
  position: absolute;
  bottom: 100%;  
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
/* /////////////////////////// */
.tooltip:hover .tooltiptextSmall, .tooltip:hover .tooltiptextSmallUp {
  visibility: visible;
}
/* ///////////////////////////////properties//////////////////////////////////// */
.properties {
  width: fit-content;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
background-color: white;
  border: 1px solid black;
  overflow-y: scroll;
  max-height: 500px;
  
}
.properties .rowPR {
  display: flex;
  justify-content: space-between;
}

.properties::-webkit-scrollbar{
  width: 5px;
  background-color: #EDECE9;
  }
  .properties::-webkit-scrollbar-track{
  background: transparent;
  }
  .properties::-webkit-scrollbar-thumb{
  background: #C6C9C2;
  z-index: 1;
  }
  .properties .tooltip .tooltiptextRightPR {
    visibility: hidden;
    width: 90px;
    font-size: .9rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    top: -2px;
    right: 160%;
    margin-left: -30px; 
    position: absolute;
    z-index: 1;
   
  }
  .properties .tooltip .tooltiptextRightPR::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  /* /////////////////////////// */
  .properties .tooltip .tooltiptextLeftPR {
    visibility: hidden;
    width: 90px;
    font-size: .9rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    top: -2px;
  left: 55PX;
    margin-left: -30px; 
    position: absolute;
    z-index: 1;
   
  }
  .properties .tooltip .tooltiptextLeftPR::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  /* ///////////////////////////////////////////////// */
  .properties .tooltip:hover .tooltiptextRightPR,.properties .tooltip:hover .tooltiptextLeftPR {
    visibility: visible;
  }
/* ////////////////////////////////////// boxRed  //////////////////////////////////////// */
.boxRed {
  padding: .5rem;
  column-gap: 8px;
}
.boxRed  .boxButt {
  display: flex;
  border: 1px solid transparent;
  padding: .2rem;
  column-gap: 4px;
  width: fit-content;
  align-items: center;
}
.boxRed .boxButt2 {
  margin-right: 1.32rem;
}
.properties  .buttonPR{
  font-size: 0.8rem;
  outline: 0;
  border: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.boxRed .properties  .buttonPR:hover{
  background-color: #C6C9C2;
}
.boxRed .boxButt:hover {
  border: 1px solid rgb(156, 151, 151);
  border-radius: 2px;
}
.boxRed .boxButt P{
  width: 11PX;
  color: rgb(156, 151, 151);
  user-select: none;
}
.inputNum {
  color: black;
  font-size: 1rem;
  width: 40px;
  border: 0;
  outline: 0;
  background-color: transparent;
}
/* ////////////////////////////////////// boxBlue  //////////////////////////////////////// */
.boxBlue {
  padding: .5rem;
}
.boxBlue .boxButt P{
  width: 50PX;
  color: rgb(156, 151, 151);
  user-select: none;
}
.boxBlue  .boxButt {
  display: flex;
  border: 1px solid transparent;
  padding: .2rem;
  column-gap: 4px;
  width: fit-content;
}
.boxBlue .boxButt:hover {
  border: 1px solid rgb(156, 151, 151);
  border-radius: 2px;
}
.boxBlue .inputNum {
  color: black;
  font-size: 1rem;
  width: 40px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

/* ////////////////////////////////////// boxGreen  //////////////////////////////////////// */
.boxGreen {
  padding: .5rem;
  column-gap: 8px;
}
.boxGreen  p {
  width: 100px;
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: rgb(0, 0, 0);
  user-select: none;
}
.boxGreen .boxButt P{
  width: 50PX;
  color: rgb(156, 151, 151);
  user-select: none;
}
.boxGreen  .boxButt {
  display: flex;
  border: 1px solid transparent;
  padding: .2rem;
  column-gap: 4px;
  width: fit-content;
  align-items: center;
  margin-bottom: .4rem;
}
.boxGreen .boxButt:hover {
  border: 1px solid rgb(156, 151, 151);
  border-radius: 2px;
}
.boxGreen  .selectPR {
  width: 100px;
  cursor: pointer;
}
/* ////////////////////////////////////// boxRed2  //////////////////////////////////////// */
.boxRed2 {
  padding: .5rem;
  column-gap: 8px;

}
.boxRed2  p {
  width: 100px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  user-select: none;
  
}
.boxRed2 .boxButt P{
  width: 50px;
  color: rgb(156, 151, 151);
  user-select: none;
}
.boxRed2  .boxButt {
  display: flex;
  border: 1px solid transparent;
  padding: .2rem;
  justify-content: space-between;
  width: fit-content;
  align-items: center;

}
.boxRed2 .boxButt:hover {
  border: 1px solid rgb(156, 151, 151);
  border-radius: 2px;
}
.boxRed2  .selectPR {
  width: 100px;
 
  /* margin-bottom: 0.4rem; */

}
.boxRed2 .boxButt .backgroundcolor {
  width: 100px;
}
.boxRed2 .background-color[type="color"] {
  margin-top: 0;
  margin-left: 0.4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 50px;
  padding: .2rem;
}
.boxRed2 .Bordercolor[type="color"] {
  margin-top: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 100px;
  padding: .2rem;
 
}
.boxRed2 .inputNum {
  color: black;
  font-size: 1rem;
  width: 97px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

/* ////////////////////////////////////// checkboxPR  //////////////////////////////////////// */
.checkboxPR {
  padding: .5rem;
}
.checkboxPR  p {
  width: 100px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  user-select: none;
  margin-bottom: .8rem;
}

.checkboxPR  .boxButt {
  display: flex;
  border: 1px solid transparent;
  /* padding: .2rem; */
  column-gap: 4px;
  width: fit-content;
  align-items: center;

}
.checkboxPR .boxButt:hover {
  border: 1px solid rgb(156, 151, 151);
  border-radius: 2px;
}
.checkboxPR .rowcheckbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.checkboxPR  label {
  display: inline-block;
  white-space: nowrap;
  padding-right: 0.7rem;
}
.checkboxPR label span {
  vertical-align: middle;
  padding-right: 0.4rem;
  color: black;
}
.checkboxPR label .allCheckboxPR {
  padding-right: 3.2rem;
}
.checkboxPR label .resizeCheckboxPR {
  padding-right: .7rem;
}
.checkboxPR label input {
  vertical-align: middle;
  cursor: pointer;
}

/* ////////////////////////////////////// boxPrivate  //////////////////////////////////////// */
.boxPrivate {
  padding: 0.5rem;
  column-gap: 8px;
  background-color: #eee;
}
.boxPrivate .rowPR {
  display: flex;
  /* justify-content: flex-start; */
  column-gap: 8px;
}
.boxPrivate .boxButt {
  display: flex;
  border: 1px solid transparent;
  padding: .2rem;
  column-gap: 4px;
  width: fit-content;
  align-items: center;
  
}
.boxPrivate button{
  cursor: pointer;
  
}
.boxPrivate .boxButt:hover {
  border: 1px solid rgb(156, 151, 151);
  border-radius: 2px;
}
.boxPrivate  .selectPR {
  width: 95px;
  cursor: pointer;
}

.boxPrivate .rowcheckbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
 
}
.boxPrivate .rowcheckbox  label {
  display: inline-block;
  white-space: nowrap;
  padding-right: 0.7rem;
}
.boxPrivate .rowcheckbox label span {
  vertical-align: middle;
  padding-right: 0.4rem;
  color: black;
  
}
.boxPrivate .rowcheckbox label input {
  vertical-align: middle;
  cursor: pointer;
}