/* Start Global Rules */
:root {
    --main--transiton: 0.3s;
    background-color: #f5f5ff;
}
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start header  */

/* End header */

/* Start edit text */

/* file text */

.editText-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .editText-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .editText-container {
        width: 800px;
    }
}
.editText-container h1 {
    font-size: 3.2rem;
    font-weight: 800;
    color: #454555;
}
.editText-container hr {
    background-color:black;
    height: 0.2rem;
    border: 0;
    margin: 0.8rem 0;
}
@media (max-width: 767px) {
    .editText-container h1 {
        font-size: 2.1rem;
    }
}
.filesText {

}
.filesText h2 {
    font-size: 1.6rem;
    margin-top: 3.2rem;
    margin-bottom: 1.2rem;
    color: #454555;
}
.filesText-box {
    background-color: #FFF;
    display: flex;
    /* max-height: 72px; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
@media (max-width: 767px) {
    .filesText h2 {
        font-size: 1.4rem;
        margin-top: 0;
    }
}
.filesText-box .hold-files {
    border-right: 2px solid rgba(27, 31, 35, 0.15);
    display: flex;
    align-items: center;
    flex-grow: 1;

}
.filesText-box .file {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.3rem;
    padding: 0.5rem;
    /* border-right: 1px solid black; */
}
.filesText-box .file:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        /* background-color: #a2a2bb; */
    /* border-right: none; */
}
.filesText-box .file p{
    margin-top: 1rem;
}
.filesText-box .file i{
    font-size: 2.6rem;
}
.filesText-box .butt-arow{
    display: flex;
    flex-direction: column;
}
.filesText-box .butt-arow hr{
    margin: 0;
}
.filesText-box .butt-arow button {
    width: 30px;
    height: 50%;
    appearance: none;
    border: 1px;
    cursor: pointer;
    background-color: #6489FF;
    color: var(--secondary_10-color);
    font-size: 2.4rem;
    padding: 0.2rem;
}
.filesText-box .butt-arow button:hover {
    background-color: #355cda;
    color: #f5f5ff;
}
/* file text */

/* edit Text  */
.editText {
    position: relative;
}
.editText h2{
    font-size: 1.6rem;
    margin-top: 3.2rem;
    margin-bottom: 1.2rem;
    color: #454555;
}
.editText .formatText-box {
    background-color: #FFF;
    /* display: flex; */
    padding: 0.5rem;
    /* max-height: 100px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (max-width: 767px) {
    .editText h2 {
        font-size: 1.4rem;
        margin-top: 1.2rem;

    }
}
.editText .formatText-box select {
    margin-right: 1rem;
}
.editText .formatText-box button {
    margin: 0.5rem 0;
    margin-right: 1rem;
    border: none;
    padding: 0.7rem;
    background-color: transparent;
}
.editText .formatText-box button:hover {
    background-color: #a2a2bb;
}
@media (max-width: 767px) {
    .editText .formatText-box button {
        margin-right: 0rem;
    }
    .editText .formatText-box select {
        margin-right: 0rem;
    }
}
@media (min-width: 768px) {
    .editText .formatText-box {
       display: flex;
       align-items: center;
       justify-content: center;

    }
    .editText .formatText-box button, .editText .formatText-box select {
        margin: 0 0.8rem;
    }

}
.editText .text-box{
    /* position: relative; */
    margin-top: 1.6rem;
    background-color: #FFF;
    min-height: 350px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-items: center;
    justify-content: center;
    display: flex;
}
@media (max-width: 767px) {
    .editText .text-box{
        margin-top: 1.6rem;
        min-height: 250px;
    }
}
.editText .text-box P{
      font-size: 5.0REM;
      font-weight: 800;
}
.editText .butt-saveText {
    position: absolute;
    margin-top: 1rem;
    margin-right: 1rem;
    right: -10px;

}
.editText .butt-saveText button{
    right: 200px;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: #6489FF;
    color: var(--secondary_10-color);
    font-size: 1.5rem;
    padding: 0.2rem;

}
.editText .butt-saveText button:hover{
    background-color: #355cda;
    color: #f5f5ff;
}
/* edit Text */

/* End edit text */
