*{
    margin: 0px;
    padding: 0px;
}
.list{
    overflow: scroll;
}
.listItem{
    box-sizing: border-box;
}


.table{
    display: block;
    overflow: scroll; 
}
.table tr:first-child{
    z-index: 3 !important;
    /* position: relative; */
}
.tableRow{
    display: table-row;
}

.TableHeader{
    box-sizing: border-box;
    position: relative;
    /* min-width: 40px;
    min-height: 20px; */
    word-wrap: break-word
}
.tableHeaderText{
/* width: 100%;
height: 100%; */
display: inline-block;
/* white-space: break-spaces; */
word-wrap: break-word

}
.tableHeaderDrager{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 30px;
    cursor: col-resize;
    user-select: none;
    background-color: transparent;
    z-index: 1010;
    
}

.tableHeaderDrager:hover,
.resizing{
    border-right: 5px solid blue;
}

.TableCell{
    word-break:break-all;
}

.sticyCol tr td:first-child{
    position:sticky !important;
    left: 0 !important;
    z-index: 1 !important;
}


.sticyRow tr:first-child {
position:sticky !important;
top: 0 !important;
z-index: 2 !important;
}
/* .stakyRow tr:first-child {
    
} */


.itemText{}
.itemLine{}
.itemNum{}

#imageContainer{
    margin: 5px 0;
    border: 1px solid plum;
    padding: 2px;
}

.parentComponent{
    position:absolute;
    width: 100px;
    height: 100px;
        /* border:1px solid ; */
        /* overflow-y: scroll; */
        
    }
    
    .component{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    
    .component::-webkit-scrollbar{
        width: 2px;
        height: 2px;
    }
    
    .component::-webkit-scrollbar-track{
        background: transparent;
    }
    .component::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 30px;
    }
    .component:hover::-webkit-scrollbar-thumb{
        background: green;
        border-radius: 30px;
    }
    .supComponent{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .paragraph{
        word-wrap: break-word;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .topic{
        word-wrap: break-word;
        overflow-y: scroll;
    }
    .ICON{
    
        font-family: 'FontAwesome', 'sans-serif'
    }
    #icon{
        font-family: 'FontAwesome', 'sans-serif'
    }
    .image{
        -webkit-user-drag: none;
        object-fit: cover ;
        aspect-ratio: 3/2;
    }
    