
.outer2{
    position: relative;
    box-sizing: border-box;
    min-width: 1280px;
    min-height: 720px;
    max-width: 1280px;
    max-height: 720px;
    background-color: white;
    box-shadow: 0px 0px 3px 0.1px black;
    counter-increment: page-number;
    margin-bottom: 100px;
}
:root{
    --pnX: 0px;
    --pnY: 0px;
    
}
.outer1{
 position: absolute;
 top: 20px;
 left: 20px;
 min-width: 1240px;
 min-height: 680px;
 max-width: 1240px;
 max-height: 680px;
}

.page{
    min-width: 1240px;
    min-height: 660px;
    max-width: 1240px;
    max-height: 660px;
    background-color: white;
    position: relative; 
    margin-top: 10px;
}



.pagenumber{
    position:absolute;
    top: var(--pnY);
    left: var(--pnX);
    z-index: 109;

}

.pagenumber::after{
    content: counter(page-number);
    
} 


#main-content{
    position: relative;
    width: 90%;
    background-color: #f5f5ff;
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 0 20px;
}
#main-content::-webkit-scrollbar{
    width: 0px;
}
#main-content::-webkit-scrollbar{
    width: 0px;
}


#pages{
    margin: 0 auto;
    background-color: #f5f5ff;
    padding-top: 140px;
    min-height: 1140px;
    
}



